<html>
<head>
	<title>Saved Locations</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!-- icons stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
<div id="navbar">
	<a href="favorite"><i id="btn" class="fa fa-street-view fa-lg"></i></a>
	<a href="search"><i id="btn" class="fa fa-search fa-lg"></i></a>
	<a href="profile"><i id="btn" class="fa fa-user fa-lg"></i></a>
</div>
<div class="container">
		<a href="/"><button id="logout" class="logout"><i class="fa fa-sign-out fa-lg"></i></button></a>
		<br>
		<br>
		<div class="Information">
			<h1>Comparing Saved Searches</h1>
			{{#each SavedLocations}}
				<div class="card Locations">
					<h4><b>{{Place}}</b></h4>
					<p><b>{{Positive}}/{{Total}}</b> Positive Reports of COVID-19 at this location.</p>
				</div>
			{{/each}}
			</table>
		</div>
</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
