<html>
<head>
	<title>Saved Locations</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!-- icons stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h1>Saved Locations.</h1>
    <body>
		<div id="navbar">
			<a href="favorite"><i id="btn" class="fa fa-heart fa-lg"></i></a>
			<a href="/"><i id="btn" class="fa fa-search fa-lg"></i></a>
			<a href="profile"><i id="btn" class="fa fa-user fa-lg"></i></a>
		</div>
	</body>
</html>