<html>
<head>
	<title>Test Page</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
		<div id="photo" class="profile">
			<h3>Profile Photo</h3>
			<img id="photo" class='img-responsive' src="http://hci.stanford.edu/courses/cs547/Resources/Pictures/klemmer_grad.jpg" />
		</div>

		<div class="Information">
			<h1 id="name">Nandini Kapa</h1>
			<p>San Diego, CA</p>

			<h3>Currently positive with COVID-19?</h3>

			<button id="results" class="btn btn-primary btn-lg">YES</button>
			<button id="results" class="btn btn-primary btn-lg">NO</button>

			<h3>Where have I been?</h3>

			<h5>1. Target, 123 East Dr. : 1/21/21 </h5>
			<h5>2. Vons, 54 Nova Ave. : 1/18/21 </h5>
			<h5>3. Costco, 8543 3rd St. : 1/2/21 </h5>

			<button id="Locations" class="btn btn-primary btn-lg">SAVE</button>
			<a href="location"><button id="Locations" class="btn btn-primary btn-lg">ADD LOCATIONS</button></a>

			<br>
			<br>
			<a href="password"><button id="password" class="btn btn-primary btn-lg">CHANGE PASSWORD</button></a>
		</div>

</body>
</html>
