<html>
<head>
	<title>Profile</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!-- icons stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/js/introHCI.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

<div class="container">
		<div class="Information">
			<img id="photo" class='img-responsive' src="images/Co-track.jpg" />
			<hr>
			{{#each Error}}
				<h5>{{Message}}</h5>
			{{/each}}
			<form id="login" role="form" method="get" action="/checkLogin">
				<input class="logintext" type="text" id="username" name="username" placeholder="Username">
				<br>
				<br>
				<input class="logintext" type="text" id="password" name="password" placeholder="Password">
				<br>
				<br>
				<input class="btn" type="submit" value="LOGIN">
			</form>
			
			<h4>Have a facebook account? Use it to login!</h4>
			<p class="facebookLogin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</p>
			<hr>
			<h4>Don't have an account yet?</h4>
			<a href="signup"><button class="btn lbut" id="signup" class="btn">SIGN UP</button></a>
		</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
