<html>
<head>
	<title>Report</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!-- icons stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

<div class="container">
		<a href="/search"><button class="logout"><i class="fa fa-arrow-right"></i></button></a><br><br><br>
		<img id="photo" class='img-responsive' src="images/Co-track.jpg" />
		<hr>
		<div class="Information">
			{{#each Report}}
				<h1><u>Report for {{Place}}</u></h1>
				<h2>There are <b>{{Positive}}/{{Total}}</b> <i>positive</i> reports of COVID-19 at this location.</h2>
			{{/each}}
			<hr>
			<form id="favorite" role="form" method="get" action="/addFavorite">
				<input class="btn" type="submit" value="SAVE SEARCH AS FAVORITE">
			</form>
			
		</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
