<html>
<head>
	<title>View Report</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<h1>View Report</h1>
	<h3>View the report for a particular location.</h1>
	</body>

</html>